//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

class {{ module_info.name }}Presenter: I{{ module_info.name }}Module {

    weak var view: I{{ module_info.name }}View!
    var interactor: I{{ module_info.name }}Interactor!
    var router: I{{ module_info.name }}Router!
}

extension {{ module_info.name }}Presenter: I{{ module_info.name }}InteractorOutput {

}

extension {{ module_info.name }}Presenter: I{{ module_info.name }}ViewOutput {

    func viewIsReady() {
    }
}