//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

import XCTest
@testable import {{ module_info.project_name }}

class {{ module_info.name }}InteractorTests: XCTestCase {

    override func setUp() {
        super.setUp()
        // Put setup code here. This method is called before the invocation of each test method in the class.
    }

    override func tearDown() {
        // Put teardown code here. This method is called after the invocation of each test method in the class.
        super.tearDown()
    }

    class MockPresenter: I{{ module_info.name }}InteractorOutput {

    }
}
