//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

import UIKit

class {{ module_info.name }}ModuleInitializer: NSObject {

    @IBOutlet weak var {{ module_info.name | downcase }}ViewController: {{ module_info.name }}ViewController!

    override func awakeFromNib() {

        let assembly = {{ module_info.name }}Assembly()
        assembly.assemblyModuleForView(view: {{ module_info.name | downcase }}ViewController)
    }

}
