//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

import UIKit

class {{ module_info.name }}ViewController: BaseViewController, I{{module_info.name}}View {

    var output: I{{ module_info.name }}ViewOutput!

    // MARK: Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
        output.viewIsReady()
    }


    // MARK: I{{module_info.name}}View
    func setupInitialState() {
    }
}
