//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

import XCTest
@testable import {{ module_info.project_name }}

class {{ module_info.name }}PresenterTest: XCTestCase {

    override func setUp() {
        super.setUp()
        // Put setup code here. This method is called before the invocation of each test method in the class.
    }

    override func tearDown() {
        // Put teardown code here. This method is called after the invocation of each test method in the class.
        super.tearDown()
    }

    class MockInteractor: I{{ module_info.name }}Interactor {

    }

    class MockRouter: I{{ module_info.name }}Router {

    }

    class MockViewController: I{{ module_info.name }}View {

        func setupInitialState() {

        }
    }
}
