//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

class {{ module_info.name }}Interactor: I{{ module_info.name }}Interactor {

    weak var output: I{{ module_info.name }}InteractorOutput!

}
