//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

import XCTest
@testable import {{ module_info.project_name }}

class {{ module_info.name }}ModuleAssemblyTests: XCTestCase {

    override func setUp() {
        super.setUp()
        // Put setup code here. This method is called before the invocation of each test method in the class.
    }

    override func tearDown() {
        // Put teardown code here. This method is called after the invocation of each test method in the class.
        super.tearDown()
    }

    func testAssemblyModuleForViewController() {

        //given
        let viewController = {{ module_info.name }}ViewControllerMock()
        let assembly = {{ module_info.name }}Assembly()

        //when
        assembly.assemblyModuleForView(view: viewController)

        //then
        XCTAssertNotNil(viewController.output, "{{ module_info.name }}ViewController is nil after assembly")
        XCTAssertTrue(viewController.output is {{ module_info.name }}Presenter, "output is not {{ module_info.name }}Presenter")

        let presenter: {{ module_info.name }}Presenter = viewController.output as! {{ module_info.name }}Presenter
        XCTAssertNotNil(presenter.view, "view in {{ module_info.name }}Presenter is nil after assembly")
        XCTAssertNotNil(presenter.router, "router in {{ module_info.name }}Presenter is nil after assembly")
        XCTAssertTrue(presenter.router is {{ module_info.name }}Router, "router is not {{ module_info.name }}Router")

        let interactor: {{ module_info.name }}Interactor = presenter.interactor as! {{ module_info.name }}Interactor
        XCTAssertNotNil(interactor.output, "output in {{ module_info.name }}Interactor is nil after assembly")
    }

    class {{ module_info.name }}ViewControllerMock: {{ module_info.name }}ViewController {

        var setupInitialStateDidCall = false

        override func setupInitialState() {
            setupInitialStateDidCall = true
        }
    }
}
